# Ignore Visual Studio and Windows build files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.vscode/
*.vs/
*.ncb
*.log
*.tlog
*.pdb
*.cache
*.ilk
*.ipch
*.aps
*.opensdf
*.sdf
*.dbmdl
*.bak
*.Backup
*.tmp
*.temp
*.DS_Store
*.TestResults/
*.publishsettings
*.localhistory/
_ReSharper*/
*.resharper
*.DotSettings.user
TestResults/
